CI=false # Set to true in CI environments

APP_URL=
APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=
APPWRITE_TODOS_COLLECTION_ID=

# Test Env
PORT=5173 # Set to 3000 in CI environments (for production)
TEST_USER_EMAIL=test@example.com
TEST_USER_PASSWORD=Testpassword123